# Docker
node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore

# Testing
coverage
__tests__

# Environment
.env
.env.local
.env.*.local

# Documentation
README.md
*.md

# CI/CD
.github
.gitlab-ci.yml
